<footer class="footer">
    <div class="footer__container">
        <div class="footer__body footer-body">
            <div class="footer-body__column footer-follow">
                <h3>Abonează-te la newsletter</h3>
                <p>și fii primul care află despre noi vedete pe Denumire site</p>
                <form action="#" class="footer-follow__form">
                    <input type="email" placeholder="E-mail">
                    <button type="submit">Abonare</button>
                </form>
            </div>

            <div class="footer-body__column footer-contacts">
                <h3>Asistență clienți</h3>
                <ul class="footer-contacts__list">
                    <li><a href="tel:+37369302424">+373 69 302 424</a></li>
                    <li><a href="mailto:support.aaa@gmail.com">support.aaa@gmail.com</a></li>
                    <li><a href="#">Cum funcționează?</a></li>
                </ul>
            </div>

            <div class="footer-body__column footer-apply">
                <h3>Doriți să fiți adăugat în catalogul de vedete Denumire site?</h3>
                <a class="footer-apply__button" href="../apply.html">Da, aplică!</a>
            </div>

            <div class="footer-body__column footer-navigation">
                <h3>Pagini utile</h3>
                <ul class="footer-navigation__list">
                    <li><a href="#">Termeni de utilizare</a></li>
                    <li><a href="#">Principala</a></li>
                    <li><a href="#">Catalogul vedetelor</a></li>
                    <li><a href="#">Cum funcționează?</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="footer__footer footer-navigation">
        <ul class="footer-navigation__list">
            <li><a href="#">Termeni de utilizare</a></li>
            <li><a href="/">Principala</a></li>
            <li><a href="../catalog.html">Catalogul vedetelor</a></li>
            <li><a href="#">Cum funcționează?</a></li>
        </ul>
    </div>
</footer>


<!-- <footer class="footer">
    <div class="footer__container">
        <div class="main-footer">
            <div class="footer-block">
                <h3>Abonează-te la newsletter</h3>
                <p>și fii primul care află despre noi vedete pe Denumire site</p>
                <form action="">
                    <input type="email" placeholder="E-mail">
                    <button>Abonare</button>
                </form>
            </div>

            <div class="footer-block">
                <h3>Asistență clienți</h3>
                <ul class="footer-block__list">
                    <li>+373 69 302 424</li>
                    <li>support.aaa@gmail.com</li>
                    <li>Cum funcționează?</li>
                </ul>
            </div>
            <div class="footer-block">
                <h3>Doriți să fiți adăugat în catalogul de vedete Denumire site?</h3>
                <a class="footer-button " href="# ">Da, aplică!</a>
            </div>

            <div class="footer-block">
                <div class="footer-block__menu">
                    <li>
                        <a href="# ">Termeni de utilizare</a>
                    </li>
                    <li>
                        <a href="index.html ">Principala</a>
                    </li>
                    <li>
                        <a href="catalog.html ">
                            Catalogul vedetelor
                        </a>
                    </li>
                    <li>
                        <a href="function.html ">
                            Cum funcționează?
                        </a>
                    </li>
                </div>
            </div>
        </div>

        <div class="lower-footer">
            <ul class="lower-footer__list">
                <li>
                    <a href="# ">Termeni de utilizare</a>
                </li>
                <li>
                    <a href="index.html ">Principala</a>
                </li>
                <li>
                    <a href="catalog.html ">
                        Catalogul vedetelor
                    </a>
                </li>
                <li>
                    <a href="function.html ">
                        Cum funcționează?
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer> -->